<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
</head>
<body>
    <header>
        <h1><%= subtitulo %></h1>
        <h4>Fornecer o código de acesso</h4>
    </header>
    <section>
        <form action="/intro" method="post">
            Código
            <br/>
            <input type="text" name="codigo" placeholder="Código">
            <br>
            <button type="submit">Enviar</button>
        </form>
    </section>
    <footer>
        <small>Sistema de Controle de Acesso - Express</small>
    </footer>
</body>
</html>